body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    text-align: center;
}

#mainContent {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#pingForm {
    margin-top: 20px;
}

#pingResultContainer {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    height: 150px; /* 固定高度 */
    width: 1000px; /* 固定宽度 */
    overflow-y: auto; /* 溢出内容显示滚动条 */
}

.common_button {
    margin-left: 10px;
}